<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="PBI-FinalTask"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="PBI_FINALTASK"/>
    <stringAttribute key="TALEND_JOB_ID" value="_Z_R_gMKfEe-AU44EqecN5w"/>
    <stringAttribute key="TALEND_JOB_NAME" value="DWHJOB"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
